body { background: #b475aa; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 16px; display: flex; }
.block-payment-0 { color: #e93e5d; font-size: 14px; margin-bottom: 5px; }
.block-config-1 { color: #fc21e5; font-size: 14px; margin-bottom: 5px; }
.block-filter-2 { color: #31d770; font-size: 19px; margin-bottom: 5px; }
.block-logger-3 { color: #6968d; font-size: 14px; margin-bottom: 5px; }
.block-cluster-4 { color: #fb71bd; font-size: 16px; margin-bottom: 5px; }